<%= link_to gravatar_for(current_customer, size: 50), current_customer %>
<h1><%= current_customer.name %></h1>
<span><%= link_to "view my profile", current_customer %></span>
<span><%= pluralize(current_customer.feedbacks.count, "feedback") %></span>