<%= form_for(@feedback) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new feedback.." %>
  </div>
  <%= f.submit "Post", class: "actions" %>
<% end %>