<!--code in this file follows the example in the book https://www.railstutorial.org/book/password_reset-->
<h2>Password Reset</h2>

<p>To reset Your password click the link below:</p>

<%= link_to "Reset password", edit_password_reset_url(@customer.reset_token,
                                                      email: @customer.email) %>

<p>This link will expire in 2 hours.</p>

<p>
If you didn't request your password to be reset, please ignore this email and
your password will stay as it is.
</p>

<p>Heirloom Era</p> 